.list {
    padding: 0 3%;
}

.feature-list {
    list-style-type: lower-alpha;
}

.sublist {
    list-style-type: circle;
}

.about-page {
    height: 100%;
    padding: 5vh 0 0 0;
}

.text-section {
    margin: 5vh 15vh 0 15vh;
}

.paragraph {
    text-indent: 3%;
}