/*  reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F3 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

html, body, #root, .App {
    height: 100%;
}

footer {
    background-color: #D9D9D9;
}
/* 
.foot-bar {
    width: 100vh !important;
    height: 15vh !important;
} */

.home-search {
    height:  85%;
}

.home-footer {
    height: 15%;
}

h1 {
    font-size: 5rem !important;
}