/*  reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

html, body, #root, .App {
    height: 100%;
}

footer {
    background-color: #D9D9D9;
}
