
.paper-info-container {
    padding: 0 20%;
}

.cc {
    font-size: 2rem;
}

.cite-tab {
    position: relative;
    width: 100%;
    padding: 1rem 1rem 0 1rem !important;
    border: .2rem solid #ececec;
    border-radius: 8px;
}

.force-container {
    width: 100%;
    position: relative;
    background-color: #ececec;
    border: .2rem solid #ececec;
    border-radius: 8px;
    overflow: hidden;
  }
  
.force-container svg {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.label {
    word-wrap: break-word;
}