/* @import-normalize */

.result-header {
    height: 15%;
    display: flex !important;
    justify-content: center;
    background-color: #D9D9D9;
}

.paper-item {
    background: #F3F3F3;
    border-radius: 5px;
}

.paper-container {
    padding: 15px;
    margin: 20px 0 20px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

ul {
    list-style-type:none;
}

.title {
    font-weight: lighter;
    border-bottom: 1px solid #999a9d;
    padding-bottom: 5px;
    color: #212529;
}

.authors, .affiliations {
    font-size: 0.8rem !important;
}

.authors, .conference {
    margin: 0 0 0px 0;
}

.affiliations, .explanation, .abstract {
    margin: 0 0 5px 0;
}

.see-more {
    font-weight: normal;
    opacity: 0.7;
}

.see-more:hover {
    border-bottom: 3px solid #000000;
}

footer {
    background-color: #D9D9D9;
    height: 15%;
}


a:hover {
    color: #212529 !important;
}